html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
input{
	display: block;
}

#popout-background{
	z-index: 1;
	background-color: grey;
	overflow: hidden;
	height:100vh;
}

#popout{
	background-color: white;
	height: 400px;
	width: 400px;
	margin: 10% auto 0 auto;
}

#popout-message{
	margin-left: auto;
	margin-right: auto;
}

#content-container{
	z-index: -1;
	height: 100%;
	width: 100%;
}

#control-content{
	height: 10%;
	width: 100%;
	border-bottom-style: dashed;
	border-bottom-width: 0.2em;
	border-bottom-color: grey;
	
	/* Gradient */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#map-canvas{
	height: 89%;
	width: 70%;
	margin: 0;
	padding: 0;
	background-color: blue;
	float: left;
}

#event-content{
	height: 89%;
	width: 30%;
	background-color: white;
	float: left;
}

#button-cluster{
	height: 100%;
	width: 70%;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#control-label{
	float: left;
	width: 9em;
	height: 100%;
	display: inline;
}

#control-label-text{
	margin: 0.4em 0 0 0.9em;
	font-size: 2em;
	text-align: center;
}

.control-buttons{
	display:inline-block;
	width:9em;
	height:2em;
	margin: 1.2em 0.3em 0 0;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
	
	/* Gradient */
	background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiNmZGZkZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 5%, rgba(253,253,249,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,1)), color-stop(5%,rgba(255,255,255,1)), color-stop(97%,rgba(253,253,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(253,253,249,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(253,253,249,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(253,253,249,1) 97%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(253,253,249,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfdf9',GradientType=0 ); /* IE6-8 */

}
.control-buttons:hover{
	cursor: pointer;
	
	/* Gradient */
	background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiNmOGY2ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 5%, rgba(248,246,240,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,1)), color-stop(5%,rgba(255,255,255,1)), color-stop(97%,rgba(248,246,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(248,246,240,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(248,246,240,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(248,246,240,1) 97%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 5%,rgba(248,246,240,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f6f0',GradientType=0 ); /* IE6-8 */

}

.inner-button-text{

}

#event-title{
	border-bottom-width: 0.2em;
	border-bottom-color: black;
	border-bottom-style: solid;
	display: block;
	background-color: #C8C8C8;
	text-align: center;
	font-size: 1.4em;
}

.event{
	padding: 0 0 0 5px;
	display: block;
	background-color: #FFFFFF;
}

.event2{
	padding: 0 0 0 5px;
	display: block;
	background-color: #C0C0C0;
}